
<div class="container" ng-controller="ContactHomeCtrl">
    
    <H1>Contact List</H1>
    
    <div name="buttonContainer">
        <a href="#/contactHome/contactInsert"><button class="btn btn-success">Agregar Contacto</button></a><br>
    </div>
    
    <label>Buscar Contacto: <input ng-model="searchText"></label>
    
    <div name="contactContainer" ng-repeat="contact in contactList | filter:searchText">
        <h3><a href="#/contactHome/contactDetail/{{contact._id}}">{{contact.name}}{{contact.nombre}} </a></h3>
    </div>    

</div>
    
