
<div class="container" ng-controller="ContactHomeCtrl">
    
    <H3>Mi Lista de Contactos</H3>
    
   
    
    <label>Buscar Contacto: <input ng-model="searchText"></label>
    
    <div name="contactContainer" ng-repeat="contact in contactList | filter:searchText">
        <h4><a href="#/contactDetail/{{contact._id}}">{{contact.name}} </a></h4>
    </div>    

    <div name="buttonContainer">
        <a href="#/contactInsert"><button class="btn btn-success">Agregar Contacto</button></a><br>
    </div><br>

</div>
    
